<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bizconit.aesop"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:label="@string/app_name" android:icon="@drawable/bizcon_icon"
                 android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity android:name=".activity.LoginActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.FamilyMembersActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.UsageActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.AvailablePortalsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FamilyMemberDataActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.GraphActivity"
                  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activity.DashBoardActivity"
                  android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
